.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 15px;
    height: 75px;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    transition-timing-function: ease-in;
    transition: all 0.5s;
    
}

.nav__black {
    background-color: #111;
}

.nav__logo{
    width: 80px;
    object-fit: contain;
    
}

.nav__avatar{
    width: 35px;
    object-fit: contain;
    height: auto;
}